<!DOCTYPE html>
<html>

<head>
    <title>Skillmatch</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>
    <div class="logo-container">
        <img class="logo" src="{{ url_for('static', filename='skillmatchlogo.png') }}" alt="Logo">
    </div>

    <div class="container">
        <div class="text-boxes">
            <div class="text-box">
                <h2>Jobboskit</h2>
                <p>OSV</p>
            </div>
            <div class="text-box">
                <h2>Walla mer jobb o sånt</h2>
                <p>Jo jag svär, de mer jobb</p>
            </div>
        </div>
        <div class="lists-container">
            <div class="list">
                <ol>
                    <li>Jobb 1</li>
                    <li>Jobb 2</li>
                    <li>Jobb 3</li>
                    <li>Jobb 4</li>
                    <li>Jobb 5</li>
                </ol>
            </div>
            <div class="list">
                <ol>
                    <li>Jobb A</li>
                    <li>Jobb B</li>
                    <li>Jobb C</li>
                    <li>Jobb D</li>
                    <li>Jobb E</li>
                </ol>
            </div>
        </div>
    </div>



    <a class="button" href="questions.html">Go to Question Page</a>
</body>

</html>
