<!DOCTYPE html>
<html>

<head>
    <title>Frågeställning</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='questions2.css') }}">
</head>

<body>
    <div class="logo-container">
        <img class="logo" src="{{ url_for('static', filename='skillmatchlogo.png') }}" alt="Logo">
    </div>

    <div class="container">
        <div class="question-container">
            <div class="question">
                How much experience do you have in the selected occupation group/groups?
            </div>
        </div>
        <form action="{{ url_for('index') }}" method="POST">
            <div class="question-box">
                <div class="slider-container">
                    <input type="range" name="slider1" min="0" max="10" step="1" value="0" class="slider">
                    <div class="slider-number">
                        <span>0</span>
                        <span>10</span>
                    </div>
                </div>
                <div class="slider-container">
                    <input type="range" name="slider2" min="0" max="10" step="1" value="0" class="slider">
                    <div class="slider-number">
                        <span>0</span>
                        <span>10</span>
                    </div>
                </div>
            </div>
            <input type="submit" value="Continue">
        </form>
    </div>
</body>

</html>
