<!DOCTYPE html>
<html>

<head>
    <title>Frågor</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='questions.css') }}">
</head>

<body>
    <div class="logo-container">
        <img class="logo" src="{{ url_for('static', filename='skillmatchlogo.png') }}" alt="Logo">
    </div>

    <div class="container">
        <div class="question-box">
            <div class="question">
                SVÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄR
            </div>
            <div class="slider-container">
                <input type="range" min="1" max="5" value="3" class="slider">
                <div class="slider-number">
                    <span>1</span>
                    <span>2</span>
                    <span>3</span>
                    <span>4</span>
                    <span>5</span>
                </div>
            </div>
        </div>

        <div class="question-box">
            <div class="question">
                NO CAP
            </div>
            <div class="slider-container">
                <input type="range" min="1" max="5" value="3" class="slider">
                <div class="slider-number">
                    <span>1</span>
                    <span>2</span>
                    <span>3</span>
                    <span>4</span>
                    <span>5</span>
                </div>
            </div>
        </div>

        <a class="button" href="questions3.html">Go to Question Page</a>
    </div>
</body>

</html>
